<LDAP>
    URL             ${LDAP_URL}
    BindDN          ${LDAP_BIND_DN}
    Password        ${LDAP_PASSWORD_ESCAPED}
    Timeout         15
    TLSEnable       no
    FollowReferrals no
</LDAP>

<Authorization>
    BaseDN          ${LDAP_BASE_DN}
    SearchFilter    (mail=%u)
    RequireGroup    false
</Authorization>
